<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-0">

  <div class="container">

        <!-- Footer Links -->
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">Mystic Retreats</h5>
              <p>Healing retreats in South America. Helping you to awake to your potential.</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
      
                <ul class="list-unstyled">
                  <li>
                    <a href="https://www.devakant.com" target="_blank">Deva Kant Music</a>
                  </li>
                 
                  
                </ul>
      
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
      
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
      
                <ul class="list-unstyled">
                    <li>
                      <a href="https://avaniyogaretreats.com" target="_blank">Chile Yoga Retreats</a>
                    </li>
                 
                </ul>
      
              </div>
              <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mysticretreats.co" target="_blank"> MysticRetreats.co</a>
        </div>
        <!-- Copyright -->
      </div>
      </footer>
      <!-- Footer -->