<section id="retreats" class="text-center">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-4">Retreat Options</h2>
        <!-- Section description -->
        <p class="lead grey-text w-responsive mx-auto mb-5">Our retreats change and transform lives. While all of our retreats are rejuvenating and fun, 
            they also offer in depth immersion in a healthy lifestyle .</p>

            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/happy-dancing.jpg"
                            alt="Breathwork Retreat in Peru">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Breathwork Mystic Retreat</h4>
                        <!--Text-->
                        <p class="card-text">A week of Yoga, healing foods and Breathwork in beautiful Peru. </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/sacred-plant-medicine.jpg"
                            alt="Sacred Plant Medicine">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Sacred Plant Medicine</h4>
                        <!--Text-->
                        <p class="card-text">A week of Yoga, cleansing diets and sacred plant medicine by Shipibo Shamans. </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/san-pedro-sacred-valley.jpg"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">San Pedro Sacred Valley</h4>
                        <!--Text-->
                        <p class="card-text">A week of Yoga, Nature and San Pedro Ceremonies in the Sacred Valley of Peru.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->
        </section>