        <!--Section: intro-->
        <section id="summary" class="py-5">

                <h2 class="display-5 font-weight-bold mb-3 text-center">Recharge and Reawaken with Mystic Retreats</h2>
                <p>
                    Escape the daily grind for an unforgettable adventure with MysticRetreats.com. Balance, regenerate and
                    invigorate your mind, body and spirit in a Brazil or Peru with you by participating in our all-day inclusive retreats 
                    featuring internationally renowned experts.  Brazil, Chile and  Peru are the gorgeous environments and cultures we explore.
                </p>
    
                <!--Grid row-->
                <div class="row">
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
    
                        <div class="view overlay z-depth-1-half">
                            <img src="/images/happy-dancing.jpg" class="img-fluid"  alt="happy dancing all inclusive retreats">
                            <!-- <a href="#!"> -->
                                <div class="mask rgba-white-slight"></div>
                            <!-- </a> -->
                        </div>
    
                        <h4 class="my-4 font-weight-bold">All Inclusive</h4>
                        <p class="grey-text">Everything is taken care of. Relax and fully take advantage of your time. We handle the details.</p>
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
    
                        <div class="view overlay z-depth-1-half">
                            <img src="/images/yoga-classes-900x600.jpg" class="img-fluid">
                            <!-- <a href="#!"> -->
                                <div class="mask rgba-white-slight"></div>
                            <!-- </a> -->
                        </div>
    
                        <h4 class="my-4 font-weight-bold">Yoga Classes</h4>
                        <p class="grey-text">Daily Yoga and fitness classes to help you strengthen your body and mind.</p>
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
    
                        <div class="view overlay z-depth-1-half">
                            <img src="/images/plant-medicine.jpg" alt="plant medicine" class="img-fluid">
                            <!-- <a href="#!"> -->
                                <div class="mask rgba-white-slight"></div>
                            <!-- </a> -->
                        </div>
    
                        <h4 class="my-4 font-weight-bold">Plant Medicine Diets</h4>
                        <p class="grey-text">Specialized Plant Medicines administered by shamanic experts with generations of training.</p>
    
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row">
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
    
                        <div class="view overlay z-depth-1-half">
                            <img src="/images/special-diets.jpg" alt="specialized diets" class="img-fluid">
                            <!-- <a href="#!"> -->
                                <div class="mask rgba-white-slight"></div>
                            <!-- </a> -->
                        </div>
    
                        <h4 class="my-4 font-weight-bold">Customized Diets</h4>
                        <p class="grey-text">Vegan, vegetarian diets taking into account food intolerance. Buying from local markets and organic produce.</p>
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
    
                        <div class="view overlay z-depth-1-half">
                            <img src="/images/connect-with-nature.jpg" alt="connect with nature" class="img-fluid">
                            <!-- <a href="#!"> -->
                                <div class="mask rgba-white-slight"></div>
                            <!-- </a> -->
                        </div>
    
                        <h4 class="my-4 font-weight-bold">Connect With Nature</h4>
                        <p class="grey-text">Relax and Enjoy the natural delights. Peru is a beautiful place and you can relax and recharge easily here.</p>
    
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
    
                        <div class="view overlay z-depth-1-half">
                            <img src="/images/breath-work.jpg" alt="mystic breath-work" class="img-fluid">
                            <!-- <a href="#!"> -->
                                <div class="mask rgba-white-slight"></div>
                            <!-- </a> -->
                        </div>
    
                        <h4 class="my-4 font-weight-bold">Mystic Breathing</h4>
                        <p class="grey-text">Leverage focused powerful deep breathing exercises to connect with your spirit and alter your perception of consciousness.
                        </p>
    
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
    
            </section>
            <!--Section: Examples-->