<!-- Section: Testimonials v.1 -->
<section id="testimonials" class="text-center my-2 p-1">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2>
        <!-- Section description -->
        <p class="dark-grey-text w-responsive mx-auto mb-5">Happy trip participants prove that we can deliver on our promises. Since 2015 we have been making a positive impact on the world through
          our various healing cultural retreat offerings.
        </p>
      
        <!-- Grid row -->
        <div class="row">
      
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
            <!--Card-->
            <div class="card testimonial-card">
              <!--Background color-->
              <div class="card-up info-color"></div>
              <!--Avatar-->
              <div class="avatar mx-auto white">
                <img src="/images/diana-p.jpg" class="rounded-circle img-fluid">
              </div>
              <div class="card-body">
                <!--Name-->
                <h4 class="font-weight-bold mb-4">Diana P</h4>
                <hr>
                <!--Quotation-->
                <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>
                  I have traveled to over sixty countries and this has been the best. I left with a heavy heart since I felt I made so many dear friends.</p>
              </div>
            </div>
            <!--Card-->
          </div>
          <!--Grid column-->
      
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
            <!--Card-->
            <div class="card testimonial-card">
              <!--Background color-->
              <div class="card-up blue-gradient">
              </div>
              <!--Avatar-->
              <div class="avatar mx-auto white">
                <img src="/images/jacky-g.jpg" class="rounded-circle img-fluid">
              </div>
              <div class="card-body">
                <!--Name-->
                <h4 class="font-weight-bold mb-4">Jackie G</h4>
                <hr>
                <!--Quotation-->
                <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>
                  The best decision I made. Soma was extremely welcoming and fun to be around. I would love to come back and do it all again.</p>
              </div>
            </div>
            <!--Card-->
          </div>
          <!--Grid column-->
      
          <!--Grid column-->
          <div class="col-lg-4 col-md-6">
            <!--Card-->
            <div class="card testimonial-card">
              <!--Background color-->
              <div class="card-up indigo"></div>
              <!--Avatar-->
              <div class="avatar mx-auto white">
                <img src="/images/kathy-c.jpg" class="rounded-circle img-fluid">
              </div>
              <div class="card-body">
                <!--Name-->
                <h4 class="font-weight-bold mb-4">Mary Kate</h4>
                <hr>
                <!--Quotation-->
                <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>
                  Soma has such a beautiful energy. She took us on great hikes, shared her knowledge of holistic healing along with a daily lesson.</p>
              </div>
            </div>
            <!--Card-->
          </div>
          <!--Grid column-->
      
        </div>
        <!-- Grid row -->
      
      </section>
      <!-- Section: Testimonials v.1 -->