<!-- Section: Team v.1 -->
<section id="aboutus" class="team-section text-center">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">
    Meet our amazing team that will guide you on your memorable journey into
    Peru.
  </p>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
      <div class="mx-auto">
        <img
          src="/images/soma-shakila-profile.jpg"
          class="rounded-circle z-depth-1 img-fluid aboutus"
          alt="Soma Parvati"
        />
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Soma Parvati</h5>
      <p class="text-uppercase blue-text"><strong>Trip Leader</strong></p>
      <p class="grey-text">
        Soma Maia is a sound healer, visionary, mother of two kids who has
        deeply explored yoga, meditation and "alternative" healing therapies.
      </p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a
          href="https://www.facebook.com/mabel.araya1"
          target="_blank"
          class="p-2 fa-lg fb-ic"
        >
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Twitter -->
        <!-- <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter blue-text"> </i>
          </a> -->
        <!-- Instagram -->
        <a
          href="https://www.facebook.com/mabel.araya1"
          target="_blank"
          class="p-2 fa-lg ins-ic"
        >
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
      <div class="mx-auto">
        <img
          src="/images/fields-meditate.jpg"
          class="rounded-circle z-depth-1 img-fluid aboutus"
          alt="Fields Marshall"
        />
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Fields Marshall</h5>
      <p class="text-uppercase blue-text">
        <strong>Musician and Student of Shamanism</strong>
      </p>
      <p class="grey-text">
        Fields Marshall is an anthropologist who has studied shamanism in Brazil
        and Chile. Fields was born in Virginia and moved to South America in
        2005.
      </p>
      <ul class="list-unstyled mb-0">
        <!-- Instagram -->
        <a
          href="hhttps://www.instagram.com/fields.marshall/"
          target="_blank"
          class="p-2 fa-lg ins-ic"
        >
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Team v.1 -->
