<!-- Modal -->
<div
  class="modal fade"
  id="cmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="cmodal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body pb-0">
        <div class="row">
          <div class="col-md-4">
            <div class="d-block d-md-none">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <img
              src="{{ .cloudinary_url }}/c_fill,g_faces,h_350,w_600{{.params.featured_image}}"
              class="img-fluid"
              alt="{{ .imgname }}"
            />
            <h4 class="h5" id="mretreatname">{{ .title }}</h4>
            <p>{{.params.duration}}</p>

            <p>{{T "Details"}}</p>
            <ul>
              {{ range .params.bulletpoints }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>

            <!-- <p> April 11, 2019 -> April 16, 2019</p> -->
            <h4 class="h6">
              {{T "Total Price"}}:
              <span class="h5"><strong>${{.params.price}}</strong></span>
            </h4>
            <div>
              <a target="_blank" href="https://wa.me/13525028826"
                ><i class="fab fa-whatsapp fa-3x mt-4 blue-text"></i
              ></a>

              <a target="_blank" href="https://wa.me/13525028826">
                + 1 (352) 502-8826</a
              >
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-none d-md-block">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="h4">
              {{T "Check availability and plan your Dream trip"}}
            </div>

            <div class="alert alert-warning mt-3" role="alert">
              <h5 class="alert-heading">{{T "Contact Form Temporarily Disabled"}}</h5>
              <p class="mb-0">{{T "Our contact form is currently disabled. Please reach out to us directly via WhatsApp using the button on the left."}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
