<!--Main Navigation-->
<header>
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-md  navbar-dark rgba-indigo-strong">

        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#"> <img src="/images/logo.png" height="40" alt="mystic retreats logo" class="pr-4 h2" >
                <!-- <i id="icon" class="fa fa-child" style="text-shadow: rgb(48, 117, 165) 0px 0px 0px, rgb(51, 125, 176) 1px 1px 0px, rgb(54, 134, 188) 2px 2px 0px, rgb(58, 142, 200) 3px 3px 0px, rgb(61, 150, 212) 4px 4px 0px, rgb(65, 159, 223) 5px 5px 0px; font-size: 25px; color: rgb(255, 255, 255); height: 30px; width: 30px; line-height: 30px; border-radius: 10%; text-align: center; background-color: rgb(68, 167, 235);"></i>  -->
                Mystic Retreats</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#summary">Retreats</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Location</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- Collapsible content -->
        </div>
    </nav>
</header>
<!--/.Navbar-->
<!--/ Main Navigation-->