        <!--Section: intro-->
        <section id="summary" class="py-5">
                <h2 class="display-5 font-weight-bold mb-3 text-center">{{.Params.summary_title}}</h2>
                        {{.Params.summary_intro | markdownify }}
                <!--Grid row-->
                <div class="row">
                    {{ $count := 0}}
                    {{ range  .Params.summary_items}} 
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
    
                        <div>
                            <img src="{{$.Site.Params.cloudinary_url }}/c_fill,g_faces,h_300,w_450{{.picture}}" class="img-fluid z-depth-2 rounded mx-auto d-block"  alt="{{.title}}">
                        </div>
    
                        <h4 class="my-4 font-weight-bold">{{.title}}</h4>
                        <p class="grey-text">{{.text}}.</p>
    
                    </div>
                    {{end}}
                    <!--Grid column-->                     
                </div>
                <!--Grid row-->  
            </section>
            <!--Section: Examples-->