{{ define "main" }}

{{ partial "introcarousel.html" . }}

<!--  -->


<!--Main layout-->
<main>

    <div class="container bg-white">
            
        <!-- {{ partial "summary.html" . }} -->
        <hr class="my-3">
 

        {{ partial "retreats-mainpage.html" . }}

        <hr class="my-3">

        {{ partial "aboutus.html" . }}

        <hr class="my-3">

        {{ partial "testimonials.html" . }}

        <hr class="my-3">

        {{ partial "contactus.html" . }}
    </div>
</main>
{{ end }}
