{{ define "main" }}
<div class="mt-5 pt-4">
    <div class="container my-2 white">
        <div class="row">
            <div class="col-md-8">

                <h1 class="h3" id="retreat-name">{{ .Title }}</h1>
                {{ $numberz:= 1}}
                <div id="Yoga{{$numberz}}" class="carousel slide my-2" data-ride="carousel" data-interval="2000">
                    <!--Indicators for Carousel-->
                    <ol class="carousel-indicators">
                        {{ $.Scratch.Set "count" 0 }}
                        {{ with .Resources.ByType "image" }}
                        {{ range . }}
                        {{ $.Scratch.Add "count" 1 }}
                        {{ if eq ($.Scratch.Get "count") 1}}
                        <li data-target="#Yoga{{$numberz}}" class="active" data-slide-to="{{$.Scratch.Get "count"}}">
                        </li>
                        {{else}}
                        <li data-target="#Yoga{{$numberz}}" data-slide-to="{{$.Scratch.Get "count"}}"></li>
                        {{end}}
                        {{ end }}
                        {{ end }}
                    </ol>
                    <!-- SLIDES / Images-->
                    <div class="carousel-inner">
                        {{ $.Scratch.Set "count" 0 }}
                        {{ with .Resources.ByType "image" }}
                        {{ range . }}
                        {{ $.Scratch.Add "count" 1 }}
                        {{ if eq ($.Scratch.Get "count") 1}}
                        <div class="carousel-item active">
                            {{else}}
                            <div class="carousel-item">
                                {{end}}
                                {{ $thumbnail := .Resize "600x" }}
                                <img class="d-block w-100" src="{{ $thumbnail.RelPermalink }}" alt="{{ .Name }}" />

                                <!--  {{ .Title }}  {{ .Name }} {{ .Params.credits }} -->
                                <!-- <div class="carousel-caption d-none d-md-block">
                                    <h3 class="tshadow1"> {{ .Title }}</h3>
                                    <p class="tshadow1"> {{ .Params.credits }}</p>
                                </div> -->
                            </div>
                            {{ end }}

                            <!-- Left / Right Controls-->
                            <a class="carousel-control-prev" href="#Yoga{{$numberz}}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#Yoga{{$numberz}}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>

                            {{ end }}
                        </div>
                    </div>


                    {{ .Content }}


                </div>
                <div class="col-md-4">
                    {{ $image := (.Resources.GetMatch ("*.jpg")).Resize "x250"}}

                    <div class="card mt-4 sticky-top">
                        <img class="card-img-top img-thumbnail img-fluid rounded" src="{{ $image.RelPermalink }}"
                            class="img-fluid img-thumbnail" alt="{{ $image.Name }}" />
                        <div class="card-body">
                            <h5>{{ .Params.duration }}</h4>
                                <h3 class="card-title"> $<span id="price">{{ .Params.price }}</span> USD</h3>

                                    <p class="card-text">Select Arrival Date</p>
                                    <form>

                                    <select id="pageselect" class="browser-default custom-select mb-2">
                                        <option value="select">Select Dates</option>
                                        <option value="nodates">No Dates Yet</option>
                                        <!-- {{ $c := 0 }} 
                                        {{ if eq $c 0  }} selected{{ end }}
                                         {{$c = add $c 1}}

                                         action="https://wt-91166be44de88dd13bf56d1de8dbc12b-0.sandbox.auth0-extend.com/stripe-payment/payment?currency=USD&amount=2000&description=Test%20item"

                                        -->
                                        {{ range .Params.dates }}
                                        <option value="{{ . }}">{{ . }}</option>
                                        {{ end }}
                                    </select>

                                    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#cmodal">Send Inquiry</a>
                                </form>

                                    <form action="https://wt-91166be44de88dd13bf56d1de8dbc12b-0.sandbox.auth0-extend.com/stripe-payment/payment?currency=USD&amount=20000&description=Test%20item"  method="POST">
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_hmuxAR4Gp8zFUrhZbbou8wPx" data-amount="20000"
                                            data-name="Stripe.com" data-description="Test item" data-locale="auto">
                                            </script>
                                        <script>
                                            // Hide default stripe button, be careful there if you
                                            // have more than 1 button of that class
                                            //payment handled with webtask.io
                                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                        </script>
                                        <button type="submit" class="btn btn-outline-primary btn-block my-1">Make a  Deposit</button>
                                    </form>



                                    <h3 class="h5 text-center py-2">Testimonials</h3>


                                    <button id="buttonz">Click to Buy! <strong>${{.Params.price}}</strong></button>
                                    <div id="messageBox">
                                      <h2></h2>
                                    </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    {{ define "footer" }}
    {{ partial "footer" . }}
    {{ $image := (.Resources.GetMatch ("*.jpg")).Resize "x250"}}
    {{ partial "contact-modal.html" (dict "title" .Title "imgurl" $image.RelPermalink  "imgname" $image.Name "dates" .Params.dates "price" .Params.price "params" .Params)   }}

    {{end}}